{% extends 'base.html.twig' %}

{% block title %}Hello ContentController!
{% endblock %}

{% block body %}
	<div class="home-container container">
		{% for product in products %}
			{% include "content/product/includes/card.html.twig" %}
		{% endfor %}
	</div>
{% endblock %}
