{% extends 'base.html.twig' %}

{% block title %}New Product
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Créer un nouveau Produit</h1>
		{{ include('content/_form.html.twig') }}

		<a href="{{ path('app_products') }}">back to list</a>
	</div>
{% endblock %}
